/* ------- Login initial page Style --------- */
.login {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-dark);
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 30vh auto;
}
.login-form h1 {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  margin-bottom: 2rem;
}
.login-form h3 {
  margin-bottom: 2rem;
}
.login-form button {
  margin: 1rem;
  border: 1px solid var(--secondary-blue);
  border-radius: 5px;
  padding: 1rem 3rem;
}
.login-form button:hover {
  background-color: var(--secondary-dark);
}
