:root {
  --main-blue: rgb(35, 87, 137);
  --main-dark: rgb(18, 38, 58);
  --secondary-blue: rgb(39, 101, 160);
  --secondary-dark: rgb(24, 49, 75);
  --accent: rgb(184, 201, 200);
  --danger: rgb(236, 43, 43);
  --checked: rgb(81, 190, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1.6rem;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.section {
  margin: 1rem 3rem;
  padding: 0 1rem;
}
.section-header {
  flex: 0 0 100px;
}
.section-main {
  flex: 1 1 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ---------------- Style for Controller ------------ */
.todo-controller {
  background-color: var(--main-dark);
  width: 200px;
  color: var(--accent);
}
/* --------------- Controller Header ----------*/
.todo-controller-header {
  text-align: center;
}
.todo-controller-header img {
  width: 30px;
}

/* ---------------- Controller Main ------------*/
.todo-controller-main {
  margin: 1rem 1rem;
}
.todo-controller-main ul {
  list-style: none;
  padding: 2rem 0;
  border-bottom: 1px solid var(--accent);
}
.todo-controller-main ul li {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
}
.todo-controller-main ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.todo-controller-main ul li button i {
  font-size: 1.3rem;
}

.todo-controller-form {
  display: flex;
  margin: 1rem;
  padding: 0;
}

.todo-controller-form input {
  width: 150px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--secondary-dark);
  color: var(--accent);
  outline: none;
  margin-right: 1rem;
}
.todo-controller-form button {
  flex: 0 1 30px;
  background-color: var(--secondary-dark);
  border: none;
  color: grey;
  border-radius: 5px 0 0 5px;
}

/* --------------- Style for Todo App ----------*/
.todo-main {
  flex-grow: 1;
  background-image: url("./assetts/pexels-pixabay-164175.jpg");
  background-size: fit;
  background-position: center;
}

/* --------------- Todo Main ----------*/
.todo-main-list {
  margin-top: 2rem;
  overflow-y: scroll;
}
.todo-main-list::-webkit-scrollbar {
  background: none;
  width: 10px;
}
.todo-main-list::-webkit-scrollbar-thumb {
  background: var(--main-blue);
  border-radius: 10px;
}
.todo-main-list ul {
  list-style: none;
}
.todo-main-list li {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--main-dark);
  border-radius: 5px;
  border: 1px solid var(--main-blue);
  color: var(--accent);
}
.todo-main-list li:hover {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-blue);
}

.todo-main-list li label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-main-list li label input[type="checkbox"] {
  display: none;
}

.todo-main-list li label #task {
  flex: 1 1 auto;
}
.todo-main-list li label #list {
  color: var(--secondary-blue);
}

.todo-main-list li label input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  color: var(--checked);
}
.remove-btn {
  flex: 0 1 50px;
  padding: 0.6rem;
  background-color: transparent;
  border: none;
  color: var(--main-blue);
}
.remove-btn:hover {
  color: var(--danger);
}

/* --------------- Todo Footer ----------*/

.todo-main-form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 3rem 2rem;
  background-color: rgba(51, 102, 156, 0.15);
}
.todo-main-form input,
button,
select {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin: 0;
  height: 4rem;
  box-sizing: border-box;
}
.todo-main-form select {
  border: none;

  background-color: var(--main-dark);
  color: var(--accent);
  font-family: "Barlow", sans-serif;
}
select {
  border-radius: 0 5px 5px 0;
}

.add-input {
  flex-grow: 1;
  border: none;
  background-color: var(--main-dark);
  color: var(--accent);
  outline: none;
  margin-right: 1rem;
}

/* --------------- Bottons Style ----------*/
.btn {
  border: none;
  background-color: var(--main-dark);
  color: var(--accent);
}
.btn-add {
  flex: 0 1 50px;
  color: grey;
  border-radius: 5px 0 0 5px;
}
