* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1.6rem;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.section {
  margin: 1rem 3rem;
}
.section-header {
  flex: 0 0 100px;
}
.section-main {
  flex: 1 1 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ---------------- Style for Controller ------------ */
.todo-controller {
  background-color: rgb(207, 211, 219);
  width: 200px;
  color: rgb(55, 75, 104);
}
/* --------------- Controller Header ----------*/
.todo-controller-header {
  text-align: center;
}
.todo-controller-header img {
  width: 30px;
}

/* ---------------- Controller Main ------------*/
.todo-controller-main ul {
  list-style: none;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
.todo-controller-main ul li {
  padding: 0.5rem 0;
}

/* --------------- Style for Todo App ----------*/
.todo-main {
  flex-grow: 1;
  background-image: url("./assetts/sunset-1373171_1280.jpg");
  background-size: cover;
  background-position: center;
}

/* --------------- Todo Main ----------*/
.todo-main-list {
  margin-top: 2rem;
  overflow-y: scroll;
}
.todo-main-list::-webkit-scrollbar {
  background: none;
  width: 10px;
}
.todo-main-list::-webkit-scrollbar-thumb {
  background: rgb(31, 42, 58);
  border-radius: 10px;
}
.todo-main-list ul {
  list-style: none;
}
.todo-main-list li {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: rgb(207, 211, 219);
  border-radius: 5px;
  color: rgb(55, 75, 104);
}

/* --------------- Todo Footer ----------*/
.todo-main-form {
  display: flex;
  align-items: center;
}
.todo-main-form input,
button {
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.add-input {
  flex-grow: 1;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(207, 211, 219);
  color: rgb(55, 75, 104);
  outline: none;
  margin-right: 1rem;
}

/* --------------- Bottons Style ----------*/
.btn {
  border: none;
  background-color: rgb(207, 211, 219);
  color: rgb(55, 75, 104);
}
.btn-add {
  flex: 0 1 50px;
  color: rgb(55, 75, 104);
  border-radius: 5px 0 0 5px;
}
