:root {
  --main-blue: rgb(35, 87, 137);
  --main-dark: rgb(18, 38, 58);
  --secondary-blue: rgb(39, 101, 160);
  --secondary-dark: rgb(24, 49, 75);
  --accent: rgb(184, 201, 200);
  --danger: rgb(236, 43, 43);
  --checked: rgb(81, 190, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1.6rem;
}

/* ------- Container Style --------- */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* ------- Lists Component Style --------- */
.lists-component {
  flex: 0 0 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark);
  color: var(--accent);
  padding: 3rem 0 0 1rem;
}

.lists-component-main {
  flex: 1;
  overflow: scroll;
}

.lists-component-header {
  text-align: center;
  flex: 0 0 auto;
  height: 100px;
}
.lists-component-header img {
  width: 50px;
}

.lists-component-main ul {
  list-style: none;
  padding: 2rem 0.5rem;
}
.lists-component-main ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--secondary-blue);
  margin-bottom: 0.5rem;
}
.lists-component-main ul li div {
  width: 100%;
}
.lists-component-main ul li:hover {
  background-color: var(--secondary-dark);
}
.lists-component-main u li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lists-component-main ul li button {
  flex-shrink: 0;
  text-align: end;
}

.lists-component-form {
  flex: 0 0 auto;
  display: flex;
  margin: 0 1rem 3rem 0;
  border-top: 1px solid var(--secondary-blue);
}

.lists-component-form input {
  flex: 1;
  border: none;
  border-radius: 0 0 10px 0;
  background-color: var(--secondary-dark);
  color: var(--accent);
  outline: none;
}
.lists-component-form button {
  background-color: var(--secondary-dark);
  border: none;
  color: grey;
  border-radius: 0 0 0 10px;
  padding: 1rem;
}

/* ------- Tasks Component Style --------- */
.tasks-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("./assetts/img/pexels-pixabay-164175.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tasks-component-header {
  padding: 2rem 2rem;
  text-align: end;
}
.tasks-component-main {
  flex: 1;
  padding: 2rem 1rem;
  margin-top: 2rem;
  overflow-y: scroll;
}
.tasks-component-main li {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--main-dark);
  border-radius: 5px;
  border: 1px solid var(--main-blue);
  color: var(--accent);
}
.tasks-component-main li:hover {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-blue);
}
.tasks-component-main li label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.tasks-component-main li label input[type="checkbox"] {
  display: none;
}
.tasks-component-main li label #task {
  flex: 1 1 auto;
}
.tasks-component-main li label #list {
  color: var(--secondary-blue);
}
.tasks-component-main li label p {
  overflow: hidden;
}
.tasks-component-main li label .active {
  text-decoration: line-through;
  color: var(--checked);
}

.tasks-component-form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem 3rem 2rem;
  background-color: rgba(51, 102, 156, 0.15);
}
.tasks-component-form input {
  border: none;
  background-color: var(--main-dark);
  padding: 1rem;
  flex: 1;
  color: var(--accent);
  outline: none;
}

.btn {
  background-color: var(--main-dark);
  border: none;
  color: gray;
  border-radius: 10px 0 0 10px;
  padding: 1rem;
}

.tasks-components-dropdown {
  flex: 0 1 10%;
  padding: 0.8rem;
  border-radius: 0 5px 5px 0;
  background-color: var(--main-dark);
  color: grey;
  font-family: "Barlow", sans-serif;
}
.tasks-components-dropdown ul {
  list-style: none;
}
.tasks-components-dropdown .dropdown-btn {
  text-align: center;
}
.tasks-components-dropdown .dropdown-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--main-dark);
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
  z-index: 2;
  overflow: scroll;
}
.tasks-components-dropdown .dropdown-content .dropdown-content-header {
  font-size: 2rem;
  color: var(--accent);
  padding: 2rem;
}
.tasks-components-dropdown .dropdown-content li {
  padding: 10px;
  cursor: pointer;
}
.tasks-components-dropdown .dropdown-content li:hover {
  background-color: var(--secondary-dark);
}
/* -------- Apperance of Buttons */
.remove-btn {
  flex: 0 1 50px;
  padding: 0.6rem;
  background-color: transparent;
  border: none;
  color: var(--main-blue);
}
.remove-btn:hover {
  color: var(--danger);
}
.toggle-button {
  background-color: transparent;
  border: none;
  color: var(--accent);
  display: none;
  z-index: 1;
}
/* ------- Appereance of Scrollbars */
.scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--main-blue);
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-corner {
  display: none;
}
@media screen and (max-width: 700px) {
  .lists-component {
    display: none;
  }
  .lists-component.active {
    display: flex;
    flex: 1;
  }

  .tasks-component.inactive {
    flex: 0;
    width: 0;
    overflow: hidden;
  }
  .toggle-button {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1400px) {
  .lists-component {
    flex-basis: 10%;
  }
}

/* ------- Login initial page Style --------- */
.login {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-dark);
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 30vh auto;
}
.login-form h1 {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  margin-bottom: 2rem;
}
.login-form h3 {
  margin-bottom: 2rem;
}
.login-form button {
  margin: 1rem;
  border: 1px solid var(--secondary-blue);
  border-radius: 5px;
  padding: 1rem 3rem;
}
.login-form button:hover {
  background-color: var(--secondary-dark);
}
